.main {
  padding-left: 4rem;
  padding-right: 4rem;
}

.title {
  font-size: 33px;
  margin-bottom: 0.5rem;
  color: #3D515B;
}

.subTitle {
  font-size: 17px;
  margin-bottom: 3rem;
  color: #C1CDD9;
}

.container {
  column-count: 2;
  column-gap: 6rem;
}

@media (max-width: 768px) {
  .container {
    column-count: 1;
  }

  .right {
    margin-top: 25px;
    transform: scale(0.8);
  }
}