.main {
  /* flex: 1;
  position: relative;
  margin-top: 1rem;
  display: flex;
  */
  padding-left: 4rem;
  padding-right: 4rem;
}

.title {
  font-size: 33px;
  margin-bottom: 0.5rem;
  color: #3D515B;
}

.subTitle {
  font-size: 17px;
  margin-bottom: 3rem;
  color: #C1CDD9;
}

.container {
  /* display: flex;
  width: 100%;
  flex-direction: row; */
  column-count: 2;
  column-gap: 6rem;
}