.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.card {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 570px;
  height: 470px;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 4rem;
  text-align: center;
  box-shadow: 0 0 26px #CCDBF3;
  font-weight: bolder;
  overflow: contain;
}

.title {
  font-size: 25px;
  margin-bottom: 2rem;
  font-weight: bold;
  text-align: center;
  color: #9FAEB9;
}

.payment {
  font-size: 150px;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  align-items: flex-start;
  color: #3D515B;
}

.dollarSign {
  font-size: 44px;
  align-self: flex-start;
  top: 1rem;
  margin-right: 10px;
  position: relative;
  color: #3D515B;
}

.cents {
  font-size: 44px;
  align-self: flex-start;
  margin-left: 10px;
  position: relative;
  top: 1rem;
  color: #3D515B;
}

.subText {
  font-size: 25px;
  margin-bottom: 3rem;
  font-weight: bold;
  text-align: center;
  color: #9FAEB9;
}

.button {
  text-transform: none;
  border-radius: 40px;
  background-color: #4C3272;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: absolute;
  bottom: 2.5rem;
  z-index: 1;
  font-size: 30px;
}