.sliderContainer {
  margin-bottom: 2rem;
}

.title {
  color: #9facb6;
  font-size: 14px;
  font-weight: bold;
}

.dollarSign {
  font-size: 20px;
  position: absolute;
  margin-right: 5px;
}

.value {
  font-size: 40px;
  position: relative;
  margin-left: 10px;
}

.thumb {
  background-color: white;
  border: 2px solid #1C76D2;
}

.track {
  height: 10%;
}

.rail {
  background-color: #9facb6;
  height: 10%;
}

.sliderMinMax {
  display: flex;
  justify-content: space-between;
  color: #9facb6;
  font-size: 12px;
  width: 100%;
  font-weight: bold;
}